<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmockupdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".transport.Transport"
            android:label="@string/title_activity_transport"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.Service" />
        <activity android:name=".warranty.WarrantyShow" />
        <activity
            android:name=".warranty.Warranty"
            android:label="@string/title_activity_warranty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".roofscrew.luxleel.Luxleel" />
        <activity android:name=".roofscrew.Luxleel.Luxleel" />
        <activity android:name=".roofscrew.bluescope.BlueScope.BlueScope" />
        <activity android:name=".roofscrew.RoofScrew" />
        <activity android:name=".mainManu.MainManu" />
        <activity android:name=".home.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>